<h1>FAQs</h1>

<% if !@faqs.empty? %>
<% @faqs.each do |faq| %>
  <article class="faq">
    <h4 class="faq">Q: <%= faq.question %></h4>
    <p><b>A:</b> <%= faq.answer %></p>
    <td><%= link_to 'Show', faq %></td>
    <td><%= link_to 'Edit', edit_faq_path(faq) %></td>
    <td><%= link_to 'Destroy', faq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </article>
<% end %>
<% else %>
  <h2>There are no recorded FAQs</h2>
<% end %>

<br>

<%= button_to 'New FAQ', new_faq_path, :method => "get" %>
