<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :general_forum_topic_id, :value => params[:forum_id].to_i %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title, maxlength: 50, size: "30x2", placeholder: 'Enter title less then or equal to 50 characters' %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, maxlength: 2000, size: "30x10", placeholder: 'Enter text less then or equal to 2000 characters' %>
  </div>

  <div class="hidden_fields">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <% if @topic.exist? %>
    <div class="actions">
      <%= f.label :closed, "Close this discussion?" %>
      <%= f.check_box :closed %>
    </div>

    <div class="actions">
      <%= f.label :removed, "Remove this discussion?" %>
      <%= f.check_box :removed %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
