<h1>Discussion Topics</h1>

<% if !@topics.empty? %>

  <% @topics.each do |topic| %>
    <article class="topic">
      <h3><%= link_to topic.title, discussion_topics_path(forum_id: topic.id) %>(<%= topic.comments_count %>)</h3>
      <p><%= topic.description %></p>
      <p><%= link_to 'Show', topic %><p>
    </article>
  <% end %>

<% else %>
  <strong>There are no discussion topics for this section</strong>
<% end %>

<%= button_to 'New Topic', new_discussion_topic_path, :method => "get" %>
<%= button_to 'Back', general_forum_topics_path, :method => "get" %>
