<h1>Discussion Topics</h1>

<% if !@topics.empty? %>

  <% @topics.each do |topic| %>
    <article class="topic">
      <h3><%= link_to topic.title, topic %>(<%= topic.comments_count %>)</h3>
      <p><%= topic.description %></p>
      <% if user_signed_in? %>
        <p><%= link_to 'Show', topic %></p>
        <p><%= link_to 'Edit', edit_discussion_topic_path(topic) %></p>
        <p>Delete</p>
      <% end %>
    </article>
  <% end %>

<% else %>
  <strong>There are no discussion topics for this section</strong>
<% end %>

<% if user_signed_in? %>
  <%= button_to 'New Topic', new_discussion_topic_path, :method => "get" %>
<% end %>

<%= button_to 'Back', general_forum_topics_path, :method => "get" %>
