<h1><%= @forum.name %></h1>

<% if !@topics.empty? %>
  <p>|
    Page <%= params[:page] %> |

    <%= link_to 'First', discussion_topics_url(:forum_id => @forum.id, :page => 1) %> |

    <% if @previous_available %>
      <%= previous_page "topics" %> |
    <% end %>

    <% if @next_available %>
      <%= next_page "topics" %> |
    <% end %>

    <%= link_to 'Last', discussion_topics_url(:forum_id => @forum.id, :page => @last_page) %> |
  </p>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Comments</th>
          <th>Status</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% @topics.each do |topic| %>
          <tr>
            <td><%= link_to topic.title, topic %></td>
            <td><%= topic.comments_count %></td>
            <td><%= topic.closed_status %></td>
            <td>
              <% if user_signed_in? and current_user.has_forum_access? %>
                <%= link_to 'Edit', edit_discussion_topic_path(topic) %>
              <% else %>
                <%= link_to 'Enter', topic %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <p>|
    Page <%= params[:page] %> |

    <%= link_to 'First', discussion_topics_url(:forum_id => @forum.id, :page => 1) %> |

    <% if @previous_available %>
      <%= previous_page "topics" %> |
    <% end %>

    <% if @next_available %>
      <%= next_page "topics" %> |
    <% end %>

    <%= link_to 'Last', discussion_topics_url(:forum_id => @forum.id, :page => @last_page) %> |
  </p>

<% else %>
  <strong>There are no discussion topics for this section</strong>
<% end %>

<p><%= link_to 'New Topic', new_discussion_topic_path(forum_id: @forum.id) %> |
<%= link_to 'Back', general_forum_topics_path %></p>
