<h1 style="word-wrap:break-word;"><%= @topic.title %></h1>

<strong>Original Poster:</strong>
  <p style="word-wrap:break-word;"><%= @topic.original_poster.name %></p>

<strong>Created At</strong>
  <p><%= @topic.created_at %></p>

<strong>Last Updated</strong>
  <p><%= @topic.updated_at %></p>

  <article class="topic">
    <div class="comment_info">
      <strong><%= @topic.original_poster.show_rank %> <%= @topic.original_poster.name %></strong>
      <% if @topic.original_poster.icon? %>
        <td><%= image_tag @topic.original_poster.icon.url(:small) %></td>
      <% end %>
      <p><%= @topic.created_at %></p>
    </div>
    <div class="comment_content">
      <p><strong>Topic Description</strong></p>
      <p style="word-wrap:break-word;"><%= @topic.description %></p>
    </div>
  </article>

<% @comments.each do |comment| %>
  <article class="topic">
    <div class="comment_info">
      <strong><%= comment.commenter.show_rank %> <%= comment.commenter.name %></strong>
      <% if comment.commenter.icon? %>
        <td><%= image_tag comment.commenter.icon.url(:small) %></td>
      <% end %>
      <p><%= comment.created_at %></p>
      <% if user_signed_in? and (current_user == @topic.original_poster or current_user.has_forum_access?) %>
        <p><%= link_to 'Edit', edit_comment_path(comment) %></p>
      <% end %>
    </div>
    <div class="comment_content">
      <p style="word-wrap:break-word;"><%= comment.show_content %></p>
    </div>
  </article>
<% end %>

<p><%= link_to 'Comment', new_comment_url(topic_id: @topic.id) %> | 
<%= link_to 'Back', discussion_topics_path(forum_id: @topic.general_forum_topic.id) %></p>
<% if user_signed_in? && (@topic.is_op?(current_user.id) || current_user.has_forum_access?) %>
  <p><%= link_to 'Edit', edit_discussion_topic_path(@topic) %></p>
<% end %>
