<%= form_for(@round) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>

      <ul>
      <% @round.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <strong><%= @round.game.player_1.name %></strong><br>
    <%= f.radio_button :user_1_move, 'rock', :checked => true %>
    <%= f.label :user_1_move, 'I choose Rock' %><br>
    <%= f.radio_button :user_1_move, 'paper' %>
    <%= f.label :user_1_move, 'I choose Paper' %><br>
    <%= f.radio_button :user_1_move, 'scissor' %>
    <%= f.label :user_1_move, 'I choose Scissor' %><br>
  </div>
  <div class="field">
    <strong>Player 2 move</strong><br>
    <%= f.radio_button :user_2_move, 'rock', :checked => true %>
    <%= f.label :user_2_move, 'I choose Rock' %><br>
    <%= f.radio_button :user_2_move, 'paper' %>
    <%= f.label :user_2_move, 'I choose Paper' %><br>
    <%= f.radio_button :user_2_move, 'scissor' %>
    <%= f.label :user_2_move, 'I choose Scissor' %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
