<h1>Listing rounds</h1>

<table border="1">
  <thead>
    <tr>
      <th>Game</th>
      <th>User 1</th>
      <th>User 1 move</th>
      <th>User 2</th>
      <th>User 2 move</th>
      <th>Winner</th>
      <th>Tie</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.game_id %></td>
        <td><%= round.user_1_id %></td>
        <td><%= round.user_1_move %></td>
        <td><%= round.user_2_id %></td>
        <td><%= round.user_2_move %></td>
        <td><%= round.winner_id %></td>
        <td><%= round.tie %></td>
        <td><%= link_to 'Show', round %></td>
        <td><%= link_to 'Edit', edit_round_path(round) %></td>
        <td><%= link_to 'Destroy', round, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Round', new_round_path %>
