<h1>Game Rounds</h1>

<table border="1">
  <thead>
    <tr>
      <th>Round</th>
      <th><%= @game.player_1.name %>'s move</th>
      <th><%= @game.player_2.name %>'s move</th>
      <th>Winner</th>
      <th>Play</th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.round_number %></td>
        <td><%= round.user_1_move %></td>
        <td><%= round.user_2_move %></td>
        <% if round.unplayed? %>
          <td>Not Played</td>
        <% elsif round.winner.nil? %>
          <td>Tie!</td>
        <% else %>
          <td><%= round.winner.name %> Wins!</td>
        <% end %>
        <% if round.unplayed? %>
          <td><%= link_to 'Play', edit_round_path(round)%></td>
        <% else %>
          <td>Done</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Back', games_path %>
