<h1>Listing rounds</h1>

<table border="1">
  <thead>
    <tr>
      <th>Round</th>
      <th>User 1</th>
      <th>User 1 move</th>
      <th>User 2</th>
      <th>User 2 move</th>
      <th>Winner</th>
      <th>Tie</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.round_number %></td>
        <td><%= @game.player_1.name %></td>
        <td><%= round.user_1_move %></td>
        <td><%= round.player_2.name %></td>
        <td><%= round.user_2_move %></td>
        <% if round.played? %>
          <td>Not Played</td>
        <% elsif round.winner.nil? %>
          <td>Tie</td>
        <% else %>
          <td><%= round.winner.name %></td>
        <% end %>
        <td><%= round.tie %></td>
        <td><%= link_to 'Play', edit_round_path(round) if round.played? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Back', games_path %>
