<p id="notice"><%= notice %></p>

<p>
  <strong>Round Number:</strong>
  <%= @round.round_number %>
</p>

<p>
  <strong>Player 1:</strong>
  <%= @round.player_1.name %>
</p>

<p>
  <strong>Player 1 Move:</strong>
  <%= @round.user_1_move %>
</p>

<p>
  <strong>Player 2:</strong>
  <%= @round.player_2.name %>
</p>

<p>
  <strong>Player 2 Move:</strong>
  <%= @round.user_2_move %>
</p>

<p>
  <strong>Winner:</strong>
  <% if @round.unplayed? %>
    <td>Not Played</td>
  <% elsif @round.winner.nil? %>
    <td>Tie!</td>
  <% else %>
    <td><%= @round.winner.name %></td>
  <% end %>
</p>

<!--<p>
  <strong>Tie:</strong>
  <%= @round.tie %>
</p>-->


<%= link_to 'Back', rounds_path(game_id: @round.game.id) %>
