<p id="notice"><%= notice %></p>

<p>
  <strong>Round Number:</strong>
  <%= @round.round_number %>
</p>

<p>
  <strong><%= @round.game.player_1.name %> Move:</strong>
  <%= @round.user_1_move %>
</p>

<p>
  <strong><%= @round.game.player_2.name %> Move:</strong>
  <%= @round.user_2_move %>
</p>

<p>
  <strong>Winner:</strong>
  <% if @round.unplayed? %>
    <td>Not Played</td>
  <% elsif @round.tie %>
    <td>Tie!</td>
  <% else %>
    <td><%= @round.winner.name %></td>
  <% end %>
</p>

<%= link_to 'Back', rounds_path(game_id: @round.game.id) %>
