<h2>Profile: <%= @user.user_name %></h2>
<h3>Level: <%= @user.show_rank %></h3>

<% if @user.admin? %>
  <strong>Administrator</strong><br>
<% end %>

<% if @user.icon? %>
  <td><%= image_tag @user.icon.url(:small) %></td>
<% end %>

<% if current_user.id == @user.id or current_user.admin? %>
  <p>
    <strong>EXP:</strong>
    <%= @user.exp %>
  </p>
  <p>
    <strong>Coins:</strong>
    <%= @user.coins %>
  </p>
  
  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>
<% end %>

<h3>Stats</h3>

<p>
  <strong>Games Played:</strong>
  <%= @user.games_played_count %>
</p>

<p>
  <strong>Wins Total:</strong>
  <%= @user.wins_count %>
</p>

<p>
  <strong>Loss Total:</strong>
  <%= @user.loss_count %>
</p>

<p>
  <strong>Ties Total:</strong>
  <%= @user.tie_count %>
</p>

<p>
  <strong>Best Win Streak:</strong>
  <%= @user.best_win_streak %>
</p>

<p>
  <strong>Current Win Streak:</strong>
  <%= @user.current_win_streak %>
</p>

<% if current_user.admin? %>
  <p>
    <strong>Disabled</strong>
    <%= @user.is_disabled %>
  </p>

  <p>
    <strong>Hidden</strong>
    <%= @user.is_hidden %>
  </p>
<% end %>

<% if current_user.id == @user.id or current_user.admin? %>
  <p><%= link_to 'Edit', edit_user_path(@user) %></p>
<% end %>

<p><%= link_to 'Back', users_path %></p>

<% if current_user.admin? %>
  <p><%= link_to 'RESET', reset_stats_users_path(@user), method: :put, data: { confirm: 'Are you sure you want to reset this user?' } %> | 
  <%= link_to 'DELETE', @user, method: :delete, data: { confirm: 'Are you sure? Remember to delete associated games.' } %></p>
<% end %>
