<script>
$(document).ready(function(){
  $("#btn_1").click(function(){
    $("#field_1").toggle();
    return false;
  });
});
$(document).ready(function(){
  $("#btn_2").click(function(){
    $("#field_2").toggle();
    return false;
  });
});
</script>

<button id="btn_1">Toggle P1</button>
<button id="btn_2">Toggle P2</button><br>

<%= form_for(@round) do |f| %>
  <% if @round.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@round.errors.count, "error") %> prohibited this round from being saved:</h2>
      <ul>
      <% @round.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @round.unplayed? %>
    <!--Caution about accounts that have not yet made a user-->
    <% if !current_account.nil? and current_account.user_id == (Game.find @round.game_id).user_1_id %>
      <strong><%= @round.game.player_1.name %></strong><br>
      <div class="field" id="field_1">
        <%= f.radio_button :user_1_move, 'rock', :checked => true %>
        <%= f.label :user_1_move, 'I choose Rock' %><br>
        <%= f.radio_button :user_1_move, 'paper' %>
        <%= f.label :user_1_move, 'I choose Paper' %><br>
        <%= f.radio_button :user_1_move, 'scissor' %>
        <%= f.label :user_1_move, 'I choose Scissor' %><br>
      </div>
    <% elsif !current_account.nil? and current_account.user_id == (Game.find @round.game_id).user_2_id %>
      <strong><%= @round.game.player_2.name %></strong><br>
      <div class="field" id="field_2">
        <%= f.radio_button :user_2_move, 'rock', :checked => true %>
        <%= f.label :user_2_move, 'I choose Rock' %><br>
        <%= f.radio_button :user_2_move, 'paper' %>
        <%= f.label :user_2_move, 'I choose Paper' %><br>
        <%= f.radio_button :user_2_move, 'scissor' %>
        <%= f.label :user_2_move, 'I choose Scissor' %><br>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  <% else %>
    <p>This round is finished</p>
  <% end %>
<% end %>

<%= link_to image_tag("rock.png"), "/" %>
<%= link_to image_tag("scissor.png"), "/" %>
<%= link_to image_tag("paper.png"), "/" %>