<p>
  <strong>Round Number:</strong>
  <%= @round.round_number %>
</p>

<p>
  <strong><%= @round.game.player_1.name %> Move:</strong>
  <%= @round.user_1_move %>
</p>

<p>
  <strong><%= @round.game.player_2.name %> Move:</strong>
  <%= @round.user_2_move %>
</p>

<p>
  <strong>Winner:</strong>
  <% if @round.finished? %>
    <% if @round.tie %>
      <td>Tie!</td>
    <% else %>
      <td><%= @round.winner.name %></td>
    <% end %>
  <% else %>
    <td></td>
  <% end %>
</p>

<% if @round.game.finished? %>
  <p><%= link_to 'Back', game_path(@round.game) %></p>
<% else %>
  <p><%= link_to 'Back', rock_paper_scissor_rounds_path(game_id: @round.game.id) %></p>
<% end %>
