<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Select Game Type' %><br>
    <%= f.radio_button :name, 'rock_paper_scissor', :checked => true %>
    <%= f.label :name, 'Rock Paper Scissor' %><br>
  </div>

  <div class="field">
    <%= f.label :user_1_id, "Challenger" %><br>
    <%= f.select :user_1_id, options_for_select([ [(User.find params[:user_1_id]).name, params[:user_1_id]] ]) %>
  </div>

  <div class="field">
    <%= f.label :user_2_id, "Challenged" %><br>
    <%= f.select :user_2_id, options_for_select([ [(User.find params[:user_2_id]).name, params[:user_2_id]] ]) %>
  </div>

  <div class="field">
    <%= f.label :round_count, 'Select Round Count' %><br>
    <%= f.select :round_count, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7]], 3) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
