Lets play <%= @game.player_1.name %>  and <%= @game.player_2.name  %>!!!!

<h2><%= @game.player_1.name%> pick your move!</h2>

<%= form_tag(get_result_rounds_path, method: "get") do %>

  <%= hidden_field_tag(:round_id, @round.id) %>
  <%= hidden_field_tag(:game_id, @game.id) %>

  <ul>
    <%= radio_button_tag(:user_1_move, "rock") %>
    <%= label_tag(:user_1_move, "I choose Rock") %><br>
    <%= radio_button_tag(:user_1_move, "paper") %>
    <%= label_tag(:user_1_move, "I choose Paper") %><br>
    <%= radio_button_tag(:user_1_move, "scissors") %>
    <%= label_tag(:user_1_move, "I choose Scissors") %><br>
  </ul>

  <h2><%= @game.player_2.name%> pick your move!</h2>

  <ul>
    <%= radio_button_tag(:user_2_move, "rock") %>
    <%= label_tag(:user_2_move, "I choose Rock") %><br>
    <%= radio_button_tag(:user_2_move, "paper") %>
    <%= label_tag(:user_2_move, "I choose Paper") %><br>
    <%= radio_button_tag(:user_2_move, "scissors") %>
    <%= label_tag(:user_2_move, "I choose Scissors") %><br>
  </ul>
  <%= submit_tag("submit") %>
<% end %>

