<p id="notice"><%= notice %></p>

<!--Somehow link to the rounds page-->
<!--How do I know which game to go?-->
<p>
  <strong>Player 1:</strong>
  <%= @game.player_1.name %>
</p>

<p>
  <strong>Player 2:</strong>
  <%= @game.player_2.name %>
</p>

<p>
  <strong>Game Best Of:</strong>
  <%= @game.round_count %>
</p>



<%= link_to 'Back', games_path %>
